@font-face {
  font-family: "existence";
  src: url("Existence-Light.otf") format("OpenType");
}
html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-lighter: #dcdcdc;
  --clr-sbblue: #012069;
  --clr-teal: #2aa5b3;
  --clr-sbwhite: #dadbdd;
  --clr-purple: #482d59;
  --clr-sborange: #ffcd00;
  --clr-light: #e570ff;
  --clr-midtone: #6b2b38;
  --clr-dark: #491c23;
  --clr-lightGold: #ffdf8a;
  --clr-gold: #a68957;
  --clr-silver1: #b6b6b6;
  --clr-silver2: #636669;
  --ff-primary: "Raleway", sans-serif;
  --ff-accent: "Lovers Quarrel", cursive;
}

body {
  font-family: var(--ff-primary);
}

.container {
  background-image: url("images/background.png");
  background-size: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container img {
  width: 30%;
  position: absolute;
  top: 20px;
  left: 20px;
}
.signature {
  font-family: existence;
  font-weight: 800;
  font-size: 5rem;
  color: var(--clr-dark);
  margin: auto;
  text-align: center;
}
#signature {
  margin-bottom: 20px;
}
hr {
  margin: auto;
  height: 3px;
  background-color: var(--clr-midtone);
  color: var(--clr-midtone);
  width: 80%;
}
.trades {
  font-family: var(--ff-primary);
  font-size: 1.8rem;
  color: transparent;
  margin-top: 20px;
}
.trades a {
  display: inline-block;
  margin-top: 20px;

  color: var(--clr-midtone);
  background-color: transparent;

  box-shadow: 0 10px 10px rgba(107, 43, 56, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  padding: 3px 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in;
}

#dev {
  padding-left: 15px;
  border-radius: 20px 0 0 20px;
}
#craft {
  padding-right: 15px;
  border-radius: 0 20px 20px 0;
}
.social-links {
  /* background-color: white; */
  width: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
}
/* fab is FA icon class */
.fab {
  color: var(--clr-dark);
  cursor: pointer;
  transition: 0.3s;
}

.fab:hover {
  color: var(--clr-lighter);
}
#friend {
  margin-top: 20px;
  font-family: var(--ff-accent);
  font-weight: 100;
  letter-spacing: 3px;
}
#bio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* text-align: center; */
  background-color: var(--clr-midtone);
  font-family: var(--ff-primary);
  color: var(--clr-silver1);
  font-size: 1.2rem;
}
#bio p,
#bio h3 {
  margin-bottom: 10px;
}
#see-more {
  color: white;
  cursor: pointer;
}
#headshot {
  display: block;
  border-radius: 50%;
}
.bio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
/* developer section */
.developer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to left top,
    var(--clr-silver1),
    var(--clr-lighter)
  );
  background-size: cover;
  font-family: var(--ff-primary);
  font-size: 3rem;
  color: var(--clr-dark);
  padding: 4rem 0 4rem 0;
}
.dev-title {
  text-align: center;
  padding: 40px 0;
  /* font-size: 1.5rem;
  font-family: var(--ff-primary); */
}
/* designer section */
.design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to left top,
    var(--clr-gold),
    var(--clr-lightGold)
  );

  background-size: cover;
  font-family: var(--ff-primary);
  font-size: 3rem;
  color: var(--clr-dark);
  padding: 4rem 0;
}
.des-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.span-title {
  text-align: center;
  padding: 20px;
}
.span-line {
  height: 1px;
  width: 100px;
  background-color: var(--clr-dark);
}
.preview-container {
  width: 100%;
  /* border: 10px solid black; */
  display: grid;
  grid-template-columns: auto auto;
  /* justify-content: center;
  align-items: center; */
}
.preview {
  /* background-color: var(--clr-dark); */
  /* width: 50%; */
  justify-self: center;
  align-self: center;
  text-align: center;
  margin: 10px 10px;
}
.preview-desc {
  /* background-color: var(--clr-silver2); */
  font-size: 1.2rem;
  font-weight: bolder;
  /* color: var(--clr-silver1); */
  padding: 1rem;
}
#git {
  background-color: black;
  color: var(--clr-sbwhite);
}
#dummy {
  background-color: var(--clr-sborange);
  color: black;
}
#trim {
  background-color: red;
  color: var(--clr-sbwhite);
}
#todo {
  background-color: var(--clr-teal);
  color: var(--clr-sbwhite);
}

.preview > a,
a > img {
  display: block;
  width: 100%;
  /* border-radius: 50%; */
}
@media screen and (min-width: 600px) {
  .container {
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .trades a:hover {
    color: var(--clr-silver1);
    background-color: rgba(107, 43, 56, 0.8);

    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.8);

    padding: 3px 10px;
    text-decoration: none;
    cursor: pointer;
  }
}
@media screen and (max-width: 800px) {
  .container {
    background-image: url("images/background2.png");
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
  }
  .signature {
    margin-top: 10%;
    font-size: 3rem;
  }
  .social-links {
    position: relative;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .container img {
    /* background-color: black; */
    width: 50%;
    position: relative;
    top: 20px;
    left: 0;
  }
}
@media screen and (max-width: 600px) {
  .trades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .trades a {
    font-size: 1.2rem;
    margin-top: 0;
  }
  .trades a,
  #dev,
  #craft {
    border-radius: 20px;
  }
  #bio {
    flex-direction: column;
    font-size: 1rem;
  }
  .design,
  .developer {
    font-size: 1.7rem;
  }
  .span-line {
    width: 50px;
  }
  .preview-container {
    grid-template-columns: auto;
  }
  .preview {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .span-line {
    visibility: hidden;
  }
  .span-title {
    width: 100%;
    /* text-align: center; */
    padding: 0;
    /* background-color: black; */
  }
}
