@font-face {
  font-family: 'existence';
  src: url('Existence-Light.otf') format('OpenType');
}
html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-lighter: #dcdcdc;
  --clr-sbblue: #012069;
  --clr-teal: #2aa5b3;
  --clr-sbwhite: #dadbdd;
  --clr-purple: #482d59;
  --clr-sborange: #ffcd00;
  --clr-light: #e570ff;
  --clr-midtone: #6b2b38;
  --clr-dark: #491c23;
  --clr-lightGold: #ffdf8a;
  --clr-gold: #a68957;
  --clr-silver1: #b6b6b6;
  --clr-silver2: #636669;
  --ff-primary: 'Raleway', sans-serif;
  --ff-accent: 'Lovers Quarrel', cursive;
}

body {
  font-family: var(--ff-primary);
}

.container {
  background-image: url('images/background.jpg');
  background-size: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container img {
  width: 30%;
  position: absolute;
  top: 20px;
  left: 20px;
}
.signature {
  font-family: existence;
  font-weight: 800;
  font-size: 5rem;
  color: var(--clr-dark);
  margin: auto;
  text-align: center;
}
#signature {
  margin-bottom: 20px;
}
hr {
  margin: auto;
  height: 3px;
  background-color: var(--clr-midtone);
  color: var(--clr-midtone);
  width: 80%;
}
.trades {
  font-family: var(--ff-primary);
  font-size: 1.8rem;
  color: transparent;
  margin-top: 20px;
}
.trades a {
  display: inline-block;
  margin-top: 20px;

  color: var(--clr-midtone);
  background-color: transparent;

  box-shadow: 0 10px 10px rgba(107, 43, 56, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  padding: 3px 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in;
}

#dev {
  padding-left: 15px;
  border-radius: 20px 0 0 20px;
}
#craft {
  padding-right: 15px;
  border-radius: 0 20px 20px 0;
}
.social-links {
  width: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
}
/* fab is FA icon class */
.fab,
.fas {
  color: var(--clr-dark);
  cursor: pointer;
  transition: 0.3s;
}

.fab:hover,
.fas:hover {
  color: var(--clr-lighter);
}
#friend {
  margin-top: 20px;
  font-family: var(--ff-accent);
  font-weight: 100;
  letter-spacing: 3px;
}
#bio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--clr-midtone);
  font-family: var(--ff-primary);
  color: var(--clr-silver1);
  font-size: 1.2rem;
}
#bio p,
#bio h3 {
  margin-bottom: 10px;
}
#see-more {
  color: white;
  cursor: pointer;
}
#headshot {
  display: block;
  border-radius: 50%;
}
.bio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
/* developer section */
.developer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to left top,
    var(--clr-silver1),
    var(--clr-lighter)
  );
  background-size: cover;
  font-family: var(--ff-primary);
  font-size: 3rem;
  color: var(--clr-dark);
  padding: 4rem 0 4rem 0;
}
.dev-title {
  text-align: center;
  padding: 20px 0;
}
.preview-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.preview {
  width: 20%;
  text-align: center;
  margin: 2.5rem 10px;
}
.preview-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 1rem;
}
.preview > a,
a > img {
  display: block;
  width: 100%;
}
#grixel {
  color: var(--clr-sbwhite);
  background-color: black;
}
#g {
  color: #efa4f1;
}
#r {
  color: #ffefa1;
}
#i {
  color: #94ebcd;
}
#x {
  color: #78c4d4;
}
#e {
  color: #faaf4e;
}
#l {
  white-space: pre;
  color: #efa4f1;
}
#calc {
  background-color: white;
  color: black;
}
#dummy {
  background-color: var(--clr-sborange);
  color: black;
}
#trim {
  background-color: red;
  color: var(--clr-sbwhite);
}
#drum {
  background-color: var(--clr-teal);
  color: var(--clr-sbwhite);
}
#library {
  background-color: var(--clr-sbwhite);
  color: var(--clr-purple);
}
#rpsGame {
  background-color: var(--clr-purple);
  color: var(--clr-sbwhite);
}
#tic {
  background-color: rgb(124, 226, 22);
}
#rune {
  background-color: rgb(196, 14, 120);
  color: var(--clr-sbwhite);
}

/* slider start */
.artist {
  font-size: 3rem;
  color: #2aa5b3;
  margin: 0;
  padding: 4rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--clr-midtone);
}
.art-title {
  text-align: center;
  color: var(--clr-silver1);
  padding-top: 20px;
}
.title-desc {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 40px;
}
.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 1.5s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #2aa5b3;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 0.1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}
/* slider end */

/* footer start */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--clr-lighter);
  background-color: black;
}
footer > div {
  padding: 1rem;
}
.footer-contact {
  color: var(--clr-lighter);
}
.footer-contact-links {
  display: flex;
  flex-direction: column;
}
footer a,
footer .fab,
footer .fas,
footer img {
  color: lightblue;
  transition: all 0.2s ease-in-out;
}
footer a:hover,
footer .fab:hover,
footer .fas:hover,
footer img:hover {
  transform: scale(1.1);
  color: yellow;
}
.footer-logo {
  width: 200px;
}
.footer-social {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
.copyright {
  padding: 0.5rem 0;
}
/* footer end */
@media screen and (min-width: 600px) {
  .container {
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .trades a:hover {
    color: var(--clr-silver1);
    background-color: rgba(107, 43, 56, 0.8);

    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.8);

    padding: 3px 10px;
    text-decoration: none;
    cursor: pointer;
  }
}
@media screen and (max-width: 800px) {
  .dev-title {
    padding: 0.5rem;
  }
  .container {
    background-image: url('images/background2.jpg');
    background-attachment: fixed;
  }
  .signature {
    margin-top: 10%;
    font-size: 3rem;
  }
  .social-links {
    position: relative;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .container img {
    width: 50%;
    position: relative;
    top: 20px;
    left: 0;
  }
  .preview {
    width: 40%;
  }
  .preview-desc {
    height: 3rem;
    font-size: 1rem;
  }
  /* slider start */
  .slider {
    width: 400px;
    height: 250px;
  }

  .slides {
    width: 500%;
    height: 250px;
  }

  .slide img {
    width: 400px;
    height: 250px;
  }

  /*css for manual slide navigation*/

  .navigation-manual {
    width: 400px;
  }

  /*css for automatic navigation*/

  .navigation-auto {
    width: 400px;
    margin-top: 210px;
  }

  /* slider end */
}
@media screen and (max-width: 600px) {
  .trades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .trades a {
    font-size: 1.2rem;
    margin-top: 0;
  }
  .trades a,
  #dev,
  #craft {
    border-radius: 20px;
  }
  #bio {
    flex-direction: column;
    font-size: 1rem;
  }
  .artist,
  .developer {
    font-size: 1.7rem;
  }
  .preview {
    width: 70%;
    margin: 2.5rem 0px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 400px) {
  /* slider start */
  .slider {
    width: 300px;
    height: 187.5px;
  }

  .slides {
    width: 500%;
    height: 187.5px;
  }

  .slide img {
    width: 300px;
    height: 187.5px;
  }

  /*css for manual slide navigation*/

  .navigation-manual {
    width: 300px;
  }

  /*css for automatic navigation*/

  .navigation-auto {
    width: 300px;
    margin-top: 147.5px;
  }

  /* slider end */
}
