body {
  background-color: #d5f5e3;
  margin: 0;
  padding-top: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#survey-form {
  background-color: #003304;
  border-radius: 7px;
  color: white;
  padding: 2em 2em 2em 2em;
  width: 50%;
  box-shadow: 5px 20px 20px 5px #0c5e64;
}
.name-label,
.email-label,
.number-label {
  display: flex;
  flex-direction: column;
}
#name,
#email,
#number,
#dropdown {
  width: 100%;
  height: 2.5em;
  margin: 0.35em 0 1.3em 0;
  border-radius: 6px;
}
textarea {
  width: 100%;
  height: 7em;
}
#submit {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 2.25em;
  margin-top: 1em;
}
.form-group {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}
#description {
  font-size: 1.2em;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 1em;
}
.label-title {
  margin-bottom: 0.25em;
}
#title {
  margin-bottom: 0;
  padding-bottom: 0.5em;
}
